* {
  margin:0; padding:0;
}
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}
header .headline{
  font-size: 32px;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

#member{
  height: auto;
  width: 200px;
  background-color: #eee;
}

#chat{
  width: auto;
  height: auto;
  margin: 30px auto;
  background-color: #eee;
}

footer {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
  position:absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
.footer-text {
  color: #fff;
}
