<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>room6</title>
  <link href="/css/sample.css" rel="stylesheet" type="text/css">
  <script>
    window.onload = function () {
      var sse = new EventSource('/ch6/chatstep');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var chat = document.getElementById("chat");
        var word_list = JSON.parse(event.data);//JSONオブジェクトとしてparse
        var word_table = "";
        // DBに残っているチャットのリストがJSONオブジェクトとして得られるので，htmlを作成し，tbodyの中身毎入れ替える
        for (var i = 0; i < word_list.length; i++) {
          var bgn_p = "<p>";
          var end_p = "</p>";
          var idx = "index:" + i;
          var w_user = "名前:" + word_list[i].user;
          var w_time = "時刻:" + word_list[i].time;
          var w_word = "<br>発言:" + word_list[i].word;
          word_table = word_table + bgn_p + idx + w_user + w_time + w_word + end_p;
        }
        console.log(word_table);
        chat.innerHTML = word_table;

      }
    }
  </script>
</head>

<body bgcolor="#00bfff">
  <header>
    <p>6ちゃんねる</p>
  </header>
  <div class="wrapper">
    <p><a href="/logout"><img th:src="@{/images/logout.png}" width="25" height="25">ログアウト</a></p>
    <p><a th:href="@{/ch6/backlobby}"><img th:src="@{/images/turnback.png}" width="25" height="25">ロビーに戻る</a></p>

    <div id="member">
      <h3>入室状況</h3>
      <ul>
        <li th:each="users:${users1}">[[${users.user}]]</li>
      </ul>
    </div>

    <div id="chat">
      <h2>ルーム[[${room}]] 雑談</h2>
      <p th:each="word,stat:${word_list}">
        index:[[${stat.index}]]
        名前:[[${word.user}]]
        時刻:[[${word.time}]]
        <br>発言:[[${word.word}]]
      </p>
      <hr width="90%" align="center">
      <h3>書き込み</h3>
      <p>
      <form th:action="@{/ch6}" method="post">
        <input type="text" name="word" />
        <input type="submit" value="投稿">
      </form>
      </p>
    </div>

    <footer>
      <p>Presented By 我々はチーム名を考えていませんでした</p>
    </footer>
  </div>
</body>

</html>
