<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Channel6 Lobby</title>
  <link href="/css/sample.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="00bfff" background="images/hato.png">
  <header>
    <p>6ちゃんねる</p>
  </header>

  <a href="/logout"><img th:src="@{/images/logout.png}" width="25" height="25">ログアウト</a><br />
  <h1>ようこそ！ <span sec:authentication="name"></span></h1>

  <div>
    <font size="5">
      [数字で入室する部屋番号を入力してください]
    </font>
    <form th:action="@{/ch6/lobbystep}" method="get">
      <input type="number" name="number" value="1" min="1" max="6" />
      <input type="submit" value="入室"><input type="reset" value="リセット">
    </form>
  </div>
  <footer>
    <p>Presented By 我々はチーム名を考えていませんでした</p>
  </footer>
</body>
